body {
  width: 200px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

button {
  width: 150px;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}